



.overlay {
    position: relative;
   
    width:600px;
    height: 600px;
    background-color: rgba(133, 133, 133, 0.212);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-image: url("../../../assets/fondo/pepinos.jpg");
/*     background-color: rgba(0, 0, 0, 0.5);


   
    font-size: 50px; */
}