<div class="overlay">
    <div>

     
            <div class="divimagen"> <img class="imagen" [src]="data.image" alt=""></div>
            <div>
            <div class="nombres"> {{data.name}}</div>
            <div class="datosgrupo">
       
        
                <div class="rows"> 
                    <div  *ngIf="data.gender==='Male'"class="gender"> <mat-icon> male</mat-icon> 
                         {{data.gender}}  </div> 
                         <div  *ngIf="data.gender==='Female'"class="gender"> <mat-icon> female</mat-icon> 
                            {{data.gender}} 
                         </div>
                   </div>
                       
                <div class="rows"> 
                    <div  *ngIf="data.status==='Alive'"class="alive"> <mat-icon>favorite</mat-icon> 
                        {{data.status}}  </div> 
                        <div  *ngIf="data.status==='Dead'"class="alive"> <mat-icon> heart_broken</mat-icon> 
                           {{data.status}} 
                        </div>
                    </div> 
                    <div class="rows"> 
                        <div  *ngIf="data.species==='Human'"class="specie"> <mat-icon>person</mat-icon> 
                            {{data.species}}  </div> 
                            <div  *ngIf="data.species==='Alien'"class="specie"> <mat-icon> rocket</mat-icon> 
                               {{data.species}} 
                            </div>
                        </div> 
    
                
    </div>

    <div class="type-origin"> <div class="publicicon"><mat-icon> public</mat-icon> </div> {{data.origin.name}} <div class="publicicon"><mat-icon> public</mat-icon></div>   </div>
   
    <div class="type-origin">{{data.type}}</div> 

    <footer class="footers">
       <!--  <div *ngFor="let item of data.episode"> -->
        <div class="rows created"> 
            <div class="created">Created: </div>
        <div style="color: white; ">{{cortarFecha(data.created)}}</div>
        </div>
<!--     </div> -->
    </footer>   

</div>