<div class="container">

        <div class="imagentitulo">
                <h2>
                        <div> <img  src="../../../assets/fondo/ricklogo.png" alt=""></div>
                </h2>
        </div>
        <ul>

        </ul>
        <div class="gridview">
                <div (click)="showInfoModal(item.id)" class="cardItem" *ngFor="let item of data.results">

                        <div > <img class="imagen" [src]="item.image" alt=""></div>

                        <div class="cardTextos">
                                <div class="nombres"> {{item.name}} </div>
                     
                        </div>

                </div>
        </div>
            
</div>



